body {
  background-color: #111111;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-size: 15px;
  color: white;
  line-height: 1.5;
  padding: 20px;
  box-sizing: border-box;
  /* overflow: hidden; */
  /* text-align: center; */
  text-decoration: none;
  /* letter-spacing: 0.1em; */
  transition: all 1s ease;
}

h1 {
  color: d9d9d9;
  font-size: 2em;
  font-weight: 500;
  margin: 0;
  overflow: hidden;
  letter-spacing: 0.1em;
  text-shadow: 0px 0px 2px white;
}

h2 {
  font-size: 1.5em;
  font-weight: 600;
  margin: 0;
}

a {
  color: #a3a3a3;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}
a:hover {
  color: #d9d9d9;
}

p {
  text-align: center;
  margin: 0;
}

table {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  /* width: 65%; */
  gap: 60px;
  top: 0px;
  border-collapse: collapse;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  margin: 20px auto;
}
td {
  padding: 8px;
  text-align: center;
}

#addsite {
  background-color: #222222;
  color: #a3a3a3;
  padding: 10px;
  border-radius: 100px;
  margin-bottom: 20px;
  text-decoration: none;
  font-size: 0.7em;
  text-shadow: 0px 0px 1px #a3a3a3;
}
#addsite:hover {
  background-color: #333333;
  transition: 1s ease;
}
